html {
  height: 100%;
  box-sizing: border-box;
}

body {
	margin: 0;
	margin-left: 100px;
	margin-right: 100px; 
    padding: 0;
	background-color: white;
}

#nav ul {
	margin-right: 0;
	margin-left: 0;
	padding-left: 122px;
	padding-top: 22px;
	width: 150px;
	margin:auto;
	overflow: hidden;
	font-size: 20px;
}

#nav ul li {
	font-family: "Quicksand";
	font-size: 17px;
	color: black;
	display: inline;
	list-style: none;
}

.fit { /* set relative picture size */
    	max-width: 100%;
    	max-height: 100%;
  	}
.center {
    	display: block;
    	margin: auto;
}

#content {
	position: relative;
	z-index: -1;
	display: block;
	margin: auto;
	margin-top: 100px;
	height: 100%;
	width: 975px;
}

#content h1 {
	background-image: url("images/block.jpg");
	background-repeat: no-repeat;
	height: 100px;
	padding-top: 30px;
	padding-left: 10px;
	background-size: 100px 100px;
	color: #454545;
	font-size: 50px;
	font-weight: normal;
	font-family: "Libre Baskerville";
}

#normaltext {
	position: relative;
	float: left;
	z-index: 1;
	max-width: 500px;
	font-size: 14px;
	color: #454545;
	font-family: "Quicksand";
	text-align: justify;
	bottom: 40px;
}

#normaltext a:link {
    color: #1d4276;
}

#normaltext a:visited {
    color: #1d4276;
}

#normaltext a:hover {
    color: #1d4276;
}

#normaltext a:active {
    color: #1d4276;
}

#stylishtext {
	background-image: url("images/block.jpg");
	background-repeat: no-repeat;
	background-size: 50% 100%;
	height: 40px;
	width: 140px;
	margin-left: 170px;
	padding-top: 7px; 
	padding-bottom: 15px;
	position: relative;
	float: left;
	z-index: 1;
	font-family: "Quicksand";
	font-size: 20px;
	bottom: 40px;
	color: #454545;
	text-align: center;
}

#backdrop {
	background-image: url("images/back2.jpg");
	background-size: cover;
	position: relative;
	float: right;
	z-index: 0;
	height: 375px;
	width: 473px;
	bottom: 180px;
}